/shelf/
/codeStyles
/inspectionProfiles
/scopes
/misc.xml
/modules.xml
/upolanc-nlp.iml
/vcs.xml
/workspace.xml
/resources/models/pretrained/
/resources/models/pretrained/english/
/resources/models/pretrained/custom/
/resources/models/pretrained/custom/bookid3/
/resources/models/pretrained/custom/codepreliminary9/
/resources/models/pretrained/custom/codepreliminary16/
/resources/models/pretrained/custom/topic3/
/resources/models/pretrained/english/pytorch_model.bin
/resources/models/pretrained/english/config.json
/resources/models/pretrained/english/vocab.txt
/resources/models/pretrained/custom/bookid3/tf_model.h5
/resources/models/pretrained/custom/bookid3/config.json
/resources/models/pretrained/custom/codepreliminary9/tf_model.h5
/resources/models/pretrained/custom/codepreliminary9/config.json
/resources/models/pretrained/custom/codepreliminary16/tf_model.h5
/resources/models/pretrained/custom/codepreliminary16/config.json
/resources/models/pretrained/custom/topic3/tf_model.h5
/resources/models/pretrained/custom/topic3/config.json
